.directory-item-container {
  @apply h-96 col-span-2 flex justify-center items-center cursor-pointer bg-center bg-no-repeat bg-cover;
}

.directory-item-container:hover {
  animation: img-move 10s linear;
}

.directory-item-container:nth-of-type(n + 4) {
  @apply col-span-3;
}

.directory-item-container .content {
  @apply opacity-60 bg-white p-4 uppercase text-center border-black border-solid border-2;
}

@keyframes img-move {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 200%;
  }
}
